@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
  --font-main: 'Arial', sans-serif;
  --color-bg: #f4f4f4;
  --color-borderShadow: hsla(0, 13%, 17%, 0.47);
  --color-primary: #000000d4;
  --color-secondary: #444;
  --color-white: #ffffffec;
  --color-lightwhite: #ffffffe3;
  --color-border : #ccc;
  --color-grey: #888;
  --radius: 6px;
  --shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  --redLiked: #dc1f1fdd;
}


html {
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: var(--font-main);
}


input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid var(--color-primary);
  border-radius: var(--radius);
  margin-bottom: 1rem;
  opacity: 0.7;
  transition: .5s ease
}

input:focus {
  opacity: 1;
  border-color: var(--color-secondary);
  background-color: #fff;
}

label {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}



.btn {
  /* background-image: none; */
  padding: 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color-border);
  width: 300px;
  margin: 10px auto;
}



.btn-grad {
  background-image: linear-gradient(to right, #AA076B 0%, #61045F 51%, #AA076B 100%);
  background-size: 200% auto;            /* on le sur-dimensionne */
  background-position: 0% center;        /* position de départ */
  transition: background-position .3s ease;
}

.btn-grad {
  text-align: center;
  transition: all 0.3s ease;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
}

.btn-grad:hover {
  background-position: 100% center; 
  text-decoration: none;
}






.sectionTitle {
font-size: 1.5rem;
  font-weight: 700;
  padding: 5vh 0 5vh 5vw;
  text-transform: capitalize;
}


.clotheContainer {
  border-radius: 4px;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  transition: all 0.3s ease;
}

.clotheContainer:hover {
  box-shadow: 0 0 10px var(--color-borderShadow) inset;
}

.imgHome {
  width: 50%;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #ccc;
}


.infoClothe {
  display: flex;
  flex-direction: column;
  line-height: 1.5;  
  max-width: 50%;
    margin: 0 auto;
}

.price {
  display: flex;
  justify-content: flex-end;
  color: var(--color-primary);
  font-weight: 800;
}

.nameClothe {
  font-size: .90rem;
  color: var(--color-primary);
  margin: 0;
  font-weight: lighter;
  text-transform: capitalize;
}